/*
Design related info:

Rough sketch/"design doc" here: images/project-sketch.jpg

Color palette being used - https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77

*/

/*
General body code, for things meant to be applied to the entire site.
*/

@font-face {
    src: url("fonts/Pixelzone.ttf");
    font-family: "Pixelzone";
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    text-align: center;
    /*
    These will get overridden by more specific CSS selectors down the
    line per our needs
    */

    font-family: Roboto, Arial, sans-serif;
    color: #111111; /* Pure black and pure white colors are hard on the eyes for webpages, so I always adjust a little bit */
}


/*
On second thought, let's tackle this from top to bottom, fix the images
and other elements as we go
*/

#header {
    background-color: #1E6091;
    color: #eeeeee;
    text-shadow: 0 0 2px black;
    display: flex;
    justify-content: center; /* space-between did NOT look good, space-around was no different. */
    border-bottom: 5px solid #1A759F;
    border-radius: 2px;
    /* first time using this property... not a huge effect, but kinda cool? */
    box-shadow: 0 5px 1px #76C893;
    margin-bottom: 0;
}

/*
I definitely had some struggles with this image. I never could
take a good picture, and the dimensions of the image made this a
challenge to style.

All projects have time constraints and budgets however, so I can't
fuss about this too long. I need to get used to putting a project
out, remember MVP, take what I learn from this one to my next
project, and the next, etc.
*/

#header img {
    width: 300px;
    height: 300px;
    /*padding: 20px;*/
    margin: 20px 10px;
    border: 7px solid #34A0A4;
    border-radius: 50%;
}

#header-info {
    margin-top: 20px;
    font-family: Pixelzone, monospace;
    font-size: 28px;
}

#about-me {
    margin-top: 0;
    background-color: #B5E48C;
}
/*
The h2 element has some default margin settings we need to remove so
this flows like the design
*/
#about-me h2 {
    margin-top: 0;
    padding-top: 20px;
}

/*
Jamming all of that about me text in to one paragraph looks bad in my
opinion and makes it difficult to read, so I'll use two paragraphs.
The problem is, I need that padding to give the text some breathing room.

So let's get fancy, and use the last-child pseudoselector to get the final
paragraph in this section, instead of having to give it an ID.

That way if I decide I want to add another paragraph to the end later,
I won't have to change which element has the ID.

Software Engineering principle demonstrated: Scalability
 */

#about-me p:last-child {
    padding-bottom: 20px;
}